.item-add-form {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.item-add-form input {
    width: 75%;
}

.item-add-form input:focus::-webkit-input-placeholder {
    color: transparent;
}

.item-add-form input:focus:-moz-placeholder {
    color: transparent;
}

.item-add-form input:focus::-moz-placeholder {
    color: transparent;
}

.item-add-form input:focus:-ms-input-placeholder {
    color: transparent;
}